@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background: url("./assets/background.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  font-family: "Poppins", sans-serif;
}

.card {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(10px);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  z-index: 100;
}
.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.4),
    transparent
  );
  transition: 0.5s;
}
.card:hover::before {
  left: 100%;
}
.heading-1 {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
/* BREAKPOINTS */
@media (max-width: 992px) {
  .card {
    padding: 10px;
    position: absolute;
  }
}

@media (max-width: 768px) {
  .card {
    padding: 10px;
    position: absolute;
  }
}

@media (max-width: 480px) {
  .card {
    padding: 5px;
  }
}

/*  */
table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  margin-top: 10%;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  z-index: 80;
}

th,
td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ffffff;
  color: #ffffff;
}

input {
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
  width: 100%;
}

/* BREAKPOINTS */
@media (max-width: 992px) {
  table {
    margin-top: 11%;
    width: 80%;
    position: relative;
  }
}

@media (max-width: 768px) {
  table {
    margin-top: 14%;
    width: 80%;
    position: relative;
  }
}

@media (max-width: 480px) {
  table {
    width: 80%;
    margin-top: 20%;
    position: relative;
  }
}

/*  */

.btns {
  text-align: center;
  margin-top: 20px;
}

button {
  margin: 20px;
  font-size: 20px;
  font-weight: 400;
}
.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}
.btn-7 {
  background: linear-gradient(
    0deg,
    rgba(255, 151, 0, 1) 0%,
    rgba(251, 75, 2, 1) 100%
  );
  line-height: 42px;
  padding: 0;
  border: none;
}
.btn-7 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-7:before,
.btn-7:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: rgba(251, 75, 2, 1);
  box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, 0.9),
    -4px -4px 5px 0px rgba(255, 255, 255, 0.9),
    7px 7px 20px 0px rgba(0, 0, 0, 0.2), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}
.btn-7:before {
  height: 0%;
  width: 2px;
}
.btn-7:after {
  width: 0%;
  height: 2px;
}
.btn-7:hover {
  color: #000;
  background: #fff;
}
.btn-7:hover:before {
  height: 100%;
}
.btn-7:hover:after {
  width: 100%;
}
.btn-7 span:before,
.btn-7 span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: rgba(251, 75, 2, 1);
  box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, 0.9),
    -4px -4px 5px 0px rgba(255, 255, 255, 0.9),
    7px 7px 20px 0px rgba(0, 0, 0, 0.2), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}
.btn-7 span:before {
  width: 2px;
  height: 0%;
}
.btn-7 span:after {
  height: 2px;
  width: 0%;
}
.btn-7 span:hover:before {
  height: 100%;
}
.btn-7 span:hover:after {
  width: 100%;
}

/* Responsive Styles */
@media (max-width: 992px) {
  .custom-btn {
    width: 100px;
  }
}

@media (max-width: 768px) {
  .btns {
    margin-top: 20px;
  }
}

@media (max-width: 480px) {
  .btn-7 {
    line-height: 42px;
  }
}

/*  */
.countdown {
  display: flex;
  justify-content: center;
}

.single-card {
  text-align: center;
  background-color: #35424a;
  color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.2);
  margin: 0 10px;
}

.heading {
  font-size: 18px;
  text-transform: uppercase;
}

.time {
  background-color: #2c3e50;
  color: #ffffff;
  font-size: 100px;
  width: 150px;
  margin: 10px auto;
  border-radius: 8px;
  border: 2px solid #000000;
}

/* BREAKPOINTS */
@media (max-width: 992px) {
  .single-card {
    margin-top: 20px;
    padding: 25px;
  }

  .time {
    width: 125px;
    font-size: 80px;
  }
}

@media (max-width: 768px) {
  .single-card {
    padding: 10px;
    display: block;
  }

  .time {
    width: 100px;
    font-size: 60px;
  }
}

@media (max-width: 480px) {
  .countdown {
    flex-wrap: wrap;
    flex-direction: flex;
    align-items: center;
    gap: 20px;
  }

  .single-card {
    padding: 10px;
    margin-bottom: 5px;
  }
  .countdown .single-card:nth-child(odd) {
    order: -1;
  }
  .time {
    width: 80px;
    font-size: 40px;
  }
}
